{% extends "bootstrap/bootstrap_base.html" %}
{% load i18n %}
{% block bootstrap_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
{% endblock %}
{% block jquery_js %}
<script src="{{ STATIC_URL }}js/jquery-1.9.0.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
{% endblock %}
{% block brand %}SIMP{% endblock%}
{% block nav_items %}
<li class="{% if section == "account" %}active{%endif%}"><a href="{% url "inventory:account_list" %}">{% trans "Accounts" %}</a></li>
<li class="{% if section == "item" %}active{%endif%}"><a href="{% url "inventory:inventoryitem_list" %}">{% trans "Items" %}</a></li>
<li class="dropdown{% if section == "purchaser" %} active{%endif%}">
<a id="dPurchasers" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">{% trans "Purchasers" %} <b class="caret"></b></a>
<ul class="dropdown-menu" role="menu" aria-labelledby="dPurchasers">
    <li role="presentation"><a href="{% url "inventory:purchaser_list" %}" role="menuitem">{% trans "Everyone" %}</a></li>
    <li role="presentation"><a href="{% url "inventory:purchaser_list" %}?group_by=buyer" role="menuitem">{% trans "Buyers" %}</a></li>
    <li role="presentation"><a href="{% url "inventory:purchaser_list" %}?group_by=seller" role="menuitem">{% trans "Sellers" %}</a></li>
</ul>
</li>
<li class="{% if section == "transaction" %}active{%endif%}"><a href="{% url "inventory:transaction_list" %}">{% trans "Transactions" %}</a></li>
{% endblock %}
