{% extends "bootstrap/detail.html" %}
{% load i18n %}
{% load simptags %}
{% block content %}
{% with inventoryitem as item %}
    <table>
        <tr>
            <th>Markup Scheme</th>
            <th>Acquisition Dates</th>
        </tr>
        <tr>
            <td>{{ item.markup_scheme|render_markup_scheme|safe }}</td>
            <td class="middle">
                {% for a_date in item.acquired %}
                    {{ a_date }}<br />
                {% empty %}
                    Never
                {% endfor %}
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <th>Quantity Acquired</th>
            <th>Quantity Sold</th>
            <th>Quantity Remaining</th>
        </tr>
        <tr>
            <td class="number">{{ item.total_acquired }}</td>
            <td class="number">{{ item.total_sold }}</td>
            <td class="number">{{ item.calculate_quantity }}</td>
        </tr>
    </table>
    <table>
        <tr>
            <th>Shrink</th>
            <th>Shrink Cost</th>
            <th>Shrink Potential</th>
        </tr>
        <tr>
            <td class="number">{{ item.shrink_quantity }}</td>
            <td class="number">${{ item.calculate_shrink_at_cost|floatformat:0 }}</td>
            <td class="number">${{ item.calculate_shrink_at_potential|floatformat:0 }}</td>
        </tr>
    </table>
    <table>
        <tr>
            <th>Purchase Value</th>
            <th>Potential Value</th>
            <th>Recovered Value</th>
            <th>Profit</th>
        </tr>
        <tr>
            <td class="number">${{ item.purchase_price|floatformat:2 }}</td>
            <td class="number">${{ item.calculate_potential_value|floatformat:-2}}</td>
            <td class="number">${{ item.total_recovered|floatformat:2 }}</td>
            <td class="number">${{ item.calculate_profit|floatformat:2 }}</td>
        </tr>
    </table>
    <a href="{% url "inventory:inventoryitem_form" item.pk %}">Edit this Item</a>
{% endwith %}
{% endblock content %}
