{% extends "section.html" %}
{% block title_tag %}Transaction{% endblock %}
{% block page_heading %}Transaction{% endblock %}
{% block content %}
{% if form.instance.pk %}
<form action="{% url "transaction-update" form.instance.pk %}" method="POST">
{% else %}
<form action="{% url "transaction-create" %}" method="POST">
{% endif %}
    {% csrf_token %}
    {% for field in form %}
    <p>{{ field.label_tag }} {{ field }}{% if field.errors %}<br/>
       {{ field.errors }}{% endif %}</p>
    {% endfor %}
    <div class="markup-buttons"></div>
    <button class="save">Submit</button>
</form>
{% endblock content %}
{% block page_scripts %}
<script type="text/javascript">
    {% autoescape off %}
    var markup_url = "{% url "inventoryitem-json" 0 %}";
    {% endautoescape %}
    $(document).ready(
            function()
            {
            $("#id_item").change(
                function(event)
                {
                    var item_id = event.currentTarget.item(event.currentTarget.selectedIndex).value;
                    if (!item_id) return;
                    $.ajax(
                    {
                        url: markup_url.replace(/0/,item_id),
                        type: "get",
                        datatype: 'json',
                        success: function( data, xhr ) {
                            var button_container = $(".markup-buttons");
                            button_container.empty();
                            var item_index = event.currentTarget.value;
                            var item_markup = data;
                            item_markup = item_markup.split(',');
                            $.each(
                                item_markup, 
                                function(_i, val) 
                                {
                                    var btn = $("<button data-value=\""+val+"\">"+val+"</button>");
                                    btn.click(
                                        function(event)
                                        {
                                            event.preventDefault();
                                            $("#id_delta_quantity").attr("value", "-"+$(this).data('value').split("@")[0]);
                                            $("#id_delta_balance").attr("value", $(this).data('value').split("@")[1]);
                                            }
                                    );
                                    button_container.append(btn);
                                }
                            )
                        }
                    }
                    );
                }
            )
            }
);
</script>
{% endblock %}
