{% extends "bootstrap/list.html" %}
{% block thead %}
<th>Timestamp</th>
<th>Code</th>
<th>Item</th>
<th>Account</th>
<th>Purchaser</th>
<th>Delta Quantity</th>
<th>Delta Balance</th>
<th>Delete</th>
{% endblock %}
{% block each_tr %}
<tr class="{{object.objection_code}}">
    <td><a href="{{ object.get_absolute_url }}">{{ object.timestamp }}</a></td>
    <td>{{ object.transaction_code }}</td>
    <td>{{ object.item.name }}</td>
    <td>{{ object.account.name }}</td>
    <td>{{ object.purchaser.name }}</td>
    <td class="number">{{ object.delta_quantity|floatformat:1 }}</td>
    <td class="number">{{ object.delta_balance|floatformat:2 }}</td>
    <td><a href="{% url "inventory:transaction_delete" object.pk %}">X</a></td>
</tr>
{% endblock %}
