{% extends "section.html" %}
{% block title_tag %}Accounts{% endblock %}
{% block page_heading %}Accounts{% endblock %}
{% block content %}
<table class="basetable">
    <tr>
        <th>Name</th>
        <th>Balance</th>
    </tr>
    {% for account in accounts %}
    <tr>
        <td><a href="{% url account account_id=account.pk %}">{{ account.name }}</a></td>
        <td>{{ account.calculate_balance|floatformat:2 }}</td>
    </tr>
    {% endfor %}
</table>
<a href="{% url account %}">Create New Account</a>
{% endblock content %}
