{% extends "section.html" %}
{% block title_tag %}Inventory{% endblock %}
{% block page_heading %}Inventory{% endblock %}
{% block content %}
<table class="basetable">
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price/Unit (Stock)</th>
        <th>Price/Unit (Sales)</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{ item.name }}</td>
        <td class="number">{{ item.calculate_quantity|floatformat:1 }}</td>
        <td class="number">${{ item.calculate_purchased_value_per_unit|floatformat:2 }}</td>
        <td class="number">${{ item.calculate_sold_value_per_unit|floatformat:2 }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
