{% extends "section.html" %}
{% block title_tag %}Purchasers{% endblock %}
{% block page_heading %}Purchasers{% endblock %}
{% block content %}
<table class="basetable">
    <tr>
        <th>Name</th>
        <th>Consumption</th>
        <th>Income</th>
    </tr>
    {% for purchaser in purchasers %}
    <tr>
        <td><a href="{% url purchaser p_id=purchaser.pk %}">{{ purchaser.name }}</a></td>
        <td class="number">{{ purchaser.calculate_consumption|floatformat:1 }}</td>
        <td class="number">{{ purchaser.calculate_income|floatformat:2 }}</td>
    </tr>
    {% endfor %}
</table>
<a href="{% url purchaser %}">Create New Purchaser</a>
{% endblock content %}
