{% extends "section.html" %}
{% block title_tag %}Purchaser{% endblock %}
{% block page_heading %}Purchaser{% endblock %}
{% block content %}
{% if form.instance.pk %}
<form action="{% url purchaser p_id=form.instance.pk %}" method="POST">
{% else %}
<form action="{% url purchaser %}" method="POST">
{% endif %}
    {% csrf_token %}
    {% for field in form %}
    <p>{{ field.label_tag }} {{ field }}{% if field.errors %}<br/>
       {{ field.errors }}{% endif %}</p>
    {% endfor %}
    <div class="markup-buttons"></div>
    <button class="save">Submit</button>
</form>
{% endblock content %}
{% block page_scripts %}
<script type="text/javascript">
{% autoescape off %}
    var items = {{ items }};
{% endautoescape %}
$(document).ready(function(){
    $("#id_item").change(function(event){
        var button_container = $(".markup-buttons");
        button_container.empty();
        var item_index = event.currentTarget.value;
        var item_markup = items[item_index];
        item_markup = item_markup.split(',');
        $.each(item_markup, function(_i, val) {
            var btn = $("<button data-value=\""+val+"\">"+val+"</button>");
            btn.click(function(event){
                event.preventDefault();
                $("#id_delta_quantity").attr("value", "-"+$(this).data('value').split("@")[0]);
                $("#id_delta_balance").attr("value", $(this).data('value').split("@")[1]);
            });
            button_container.append(btn);
        });
    });
});
</script>
{% endblock %}
