{% extends "base.html" %}
{% block title_tag %}Purchasers{% endblock %}
{% block page_heading %}Purchasers{% endblock %}
{% block content %}
<table class="basetable">
    <tr>
        <th>Name</th>
        <th>Inventory Purchased</th>
        <th>Income Generated</th>
    </tr>
    {% for purchaser, purchased, generated in purchasers %}
    <tr>
        <td>{{ purchaser.name }}</td>
        <td class="number">{{ purchased }}</td>
        <td class="number">{{ generated }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
