{% extends "section.html" %}
{% block title_tag %}Transactions{% endblock %}
{% block page_heading %}Transactions{% endblock %}
{% block content %}
<table class="basetable">
    <tr>
        <th>Timestamp</th>
        <th>Code</th>
        <th>Item</th>
        <th>Account</th>
        <th>Purchaser</th>
        <th>Delta Quantity</th>
        <th>Delta Balance</th>
        <th>Delete</th>
    </tr>
    {% for transact in transactions %}
    <tr>
        <td><a href="{% url transaction transact_id=transact.pk %}">{{ transact.timestamp }}</a></td>
        <td>{{ transact.transaction_code }}</td>
        <td>{{ transact.item.name }}</td>
        <td>{{ transact.account.name }}</td>
        <td>{{ transact.purchaser.name }}</td>
        <td class="number">{{ transact.delta_quantity|floatformat:1 }}</td>
        <td class="number">{{ transact.delta_balance|floatformat:2 }}</td>
        <td><a href="{% url delete_transaction transact.pk %}">X</a></td>
    </tr>
    {% endfor %}
</table>
<a href="{% url transaction %}">Create New Transaction</a>
{% endblock content %}
