{% extends "section.html" %}
{% block title_tag %}Transaction{% endblock %}
{% block page_heading %}Transaction{% endblock %}
{% block content %}
{% if form.instance.pk %}
<form action="{% url transaction transact_id=form.instance.pk %}" method="POST">
{% else %}
<form action="{% url transaction %}" method="POST">
{% endif %}
    {% csrf_token %}
    {% for field in form %}
    <p>{{ field.label_tag }} {{ field }}{% if field.errors %}<br/>
       {{ field.errors }}{% endif %}</p>
    {% endfor %}
    <button class="save">Submit</button>
</form>
{% endblock content %}
