{% extends "bootstrap/detail.html" %}
{% load i18n %}
{% load simptags %}
{% block content %}
{% with inventoryitem as item %}
<div class="row">
    <div class="span6">
        <h3>{% trans "Transaction Shortcuts" %}</h3>
        {{ item|render_markup_scheme|safe }}
    </div>
    <div class="span6">
        <h4>{% trans "Acquisition Dates" %}</h3>
        <ul>
            {% for a_date in item.acquired %}
                <li>{{ a_date }}</li>
            {% empty %}
                <li>{% trans 'Never' %}</li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
    <table class="table span8">
    <tr>
        <th class="span2">{% trans "Purchase Value" %}</th>
        <th class="span2">{% trans "Potential Value" %}</th>
        <th class="span2">{% trans "Recovered Value" %}</th>
        <th class="span2">{% trans "Profit" %}</th>
    </tr>
    <tr>
        <td>${{ item.purchase_price|floatformat:2 }}</td>
        <td>${{ item.calculate_potential_value|floatformat:-2}}</td>
        <td>${{ item.total_recovered|floatformat:2 }}</td>
        <td>${{ item.calculate_profit|floatformat:2 }}</td>
    </tr>
</table>
<table class="table span8 table-bordered">
    <tr>
        <th rowspan="2" class="span2">{% trans "Quantity" %}</th>
        <th class="span2">{% trans "Quantity Acquired" %}</th>
        <th class="span2">{% trans "Quantity Sold" %}</th>
        <th class="span2">{% trans "Quantity Remaining" %}</th>
    </tr>
    <tr>
        <td>{{ item.total_acquired }}</td>
        <td>{{ item.total_sold }}</td>
        <td>{{ item.calculate_quantity }}</td>
    </tr>
    <tr>
        <th rowspan="2">{% trans "Shrink" %}</th>
        <th>{% trans "Shrink" %}</th>
        <th>{% trans "Shrink Cost" %}</th>
        <th>{% trans "Shrink Potential" %}</th>
    </tr>
    <tr>
        <td>{{ item.shrink_quantity }}</td>
        <td>${{ item.calculate_shrink_at_cost|floatformat:0 }}</td>
        <td>${{ item.calculate_shrink_at_potential|floatformat:0 }}</td>
    </tr>
</table>
</div>
{% endwith %}
{% endblock content %}
