{% extends "bootstrap/detail.html" %}
{% load i18n %}
{% load simptags %}
{% block content %}
<table class="table">
    <tr>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Consumption" %}</th>
        <th>{% trans "Income" %}</th>
        <th>{% trans "Accumulation" %}</th>
        <th>{% trans "Expenses" %}</th>
    </tr>
    <tr>
        <td>{{ purchaser.name }}</td>
        <td class="number">{{ object.consumption|floatformat:1 }}</td>
        <td class="number">{{ object.income|floatformat:2 }}</td>
        <td class="number">{{ object.accumulation|floatformat:1 }}</td>
        <td class="number">{{ object.expenses|floatformat:2 }}</td>
    </tr>
</table>
<h2>{% trans "Related Transactions" %}</h2>
<table class="table">
    {% for transaction in purchaser.transactions.all %}
    <tr class="{{transaction.transaction_code}}">
        <td><a href="{{ transaction.get_absolute_url }}">{{ transaction.timestamp }}</a></td>
        <td>{{ transaction.transaction_code }}</td>
        <td><a href="{{ transaction.item.get_absolute_url }}">{{ transaction.item.name }}</a></td>
        <td><a href="{{ transaction.account.get_absolute_url }}">{{ transaction.account.name }}</a></td>
        <td class="number">{{ transaction.delta_quantity|floatformat:1 }}</td>
        <td class="number">{{ transaction.delta_balance|floatformat:2 }}</td>
        <td><a class="label label-info" href="{% url "inventory:transaction_form" %}{{transaction|clone_transaction_querystring}}">Clone</a>
        <a class="label label-important" href="{% url "inventory:transaction_delete" transaction.pk %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
