{% extends "bootstrap/list.html" %}
{% load simptags %}
{% block thead %}
<th>Timestamp</th>
<th>Code</th>
<th>Item</th>
<th>Account</th>
<th>Purchaser</th>
<th>Delta Quantity</th>
<th>Delta Balance</th>
<th>Actions</th>
{% endblock %}
{% block each_tr %}
<tr class="{{object.objection_code}}">
    <td><a href="{{ object.get_absolute_url }}">{{ object.timestamp }}</a></td>
    <td>{{ object.transaction_code }}</td>
    <td><a href="{{ object.item.get_absolute_url }}">{{ object.item.name }}</a></td>
    <td><a href="{{ object.account.get_absolute_url }}">{{ object.account.name }}</a></td>
    <td><a href="{{ object.purchaser.get_absolute_url }}">{{ object.purchaser.name }}</a></td>
    <td class="number">{{ object.delta_quantity|floatformat:1 }}</td>
    <td class="number">{{ object.delta_balance|floatformat:2 }}</td>
    <td><a class="label label-info" href="{% url "inventory:transaction_form" %}{{object|clone_transaction_querystring}}">Clone</a>
    <a class="label label-danger" href="{% url "inventory:transaction_delete" object.pk %}">Delete</a></td>
</tr>
{% endblock %}
