{% extends "bootstrap/detail.html" %}
{% load i18n %}
{% load simptags %}
{% block button_bar %}
<a class="btn" href="{% url "inventory:transaction_form" %}{{object|clone_transaction_querystring}}">{% trans "Clone" %}</a>
{{ block.super }}
{% endblock %}
{% block content %}
<table class="table">
    <tr>
        <th>{% trans "Timestamp" %}</th>
        <th>{% trans "Code" %}</th>
        <th>{% trans "Item" %}</th>
        <th>{% trans "Account" %}</th>
        <th>{% trans "Purchaser" %}</th>
        <th>{% trans "Delta Quantity" %}</th>
        <th>{% trans "Delta Balance" %}</th>
    </tr>
    <tr class="{{transaction.transaction_code}}">
        <td>{{ transaction.timestamp }}</td>
        <td>{{ transaction.transaction_code }}</td>
        <td><a href="{{ object.item.get_absolute_url }}">{{ object.item.name }}</a></td>
        <td><a href="{{ object.account.get_absolute_url }}">{{ object.account.name }}</a></td>
        <td><a href="{{ object.purchaser.get_absolute_url }}">{{ object.purchaser.name }}</a></td>
        <td class="number">{{ transaction.delta_quantity|floatformat:1 }}</td>
        <td class="number">{{ transaction.delta_balance|floatformat:2 }}</td>
    </tr>
</table>
{% endblock %}
