{% extends "bootstrap/list.html" %}
{% load i18n %}
{% load simptags %}
{% block thead %}
<th>{% trans "Timestamp" %}</th>
<th>{% trans "Code" %}</th>
<th>{% trans "Item" %}</th>
<th>{% trans "Account" %}</th>
<th>{% trans "Purchaser" %}</th>
<th>{% trans "Delta Quantity" %}</th>
<th>{% trans "Delta Balance" %}</th>
<th>{% trans "Actions" %}</th>
{% endblock %}
{% block each_tr %}
<tr class="{{object.objection_code}}">
    <td><a href="{{ object.get_absolute_url }}">{{ object.timestamp }}</a></td>
    <td>{{ object.transaction_code }}</td>
    <td><a href="{{ object.item.get_absolute_url }}">{{ object.item.name }}</a></td>
    <td><a href="{{ object.account.get_absolute_url }}">{{ object.account.name }}</a></td>
    <td><a href="{{ object.purchaser.get_absolute_url }}">{{ object.purchaser.name }}</a></td>
    <td class="number">{{ object.delta_quantity|floatformat:1 }}</td>
    <td class="number">{{ object.delta_balance|floatformat:2 }}</td>
    <td><a class="label label-info" href="{% url "inventory:transaction_form" %}{{object|clone_transaction_querystring}}">{% trans "Clone" %}</a>
    <a class="label label-important" href="{% url "inventory:transaction_delete" object.pk %}">{% trans "Delete" %}</a></td>
</tr>
{% endblock %}
